# Node dependencies
node_modules/
package-lock.json

# Experimental & backup folders
virtual-tour-app/
virtual-tour/

# Temporary python & binary dumps
*.py
*.bin
*.bak
*.log

# OS files
.DS_Store
Thumbs.db
